backup.zsh.*
installed-applications.txt
Alfred/Alfred.alfredpreferences/*
BetterTouchTool/Automated Backups/*
Git/.gitconfig
Git/.gitignore_global
IntelliJ/IntelliJIdea2019.3/*.jar
IntelliJ/IntelliJIdea2019.3/*.etag
IntelliJ/IntelliJIdea2019.3/availables.xml
IntelliJ/IntelliJIdea2019.3/availables.xml
IntelliJ/IntelliJIdea2019.3/disabled_plugins.txt
IntelliJ/IntelliJIdea2019.3/extensions.xml
IntelliJ/IntelliJIdea2019.3/idea.key
IntelliJ/IntelliJIdea2019.3/port.lock
IntelliJ/IntelliJIdea2019.3/user.web.token
IntelliJ/IntelliJIdea2019.3/codestyles/Default.xml
IntelliJ/IntelliJIdea2019.3/consoles/.history/*
IntelliJ/IntelliJIdea2019.3/consoles/db/*
IntelliJ/IntelliJIdea2019.3/event-log-whitelist/fus/white-list.json
IntelliJ/IntelliJIdea2019.3/extensions/com.intellij.database/*
IntelliJ/IntelliJIdea2019.3/extensions/com.intellij.javaee/orm.generators/*
IntelliJ/IntelliJIdea2019.3/inspection/Default.xml
IntelliJ/IntelliJIdea2019.3/jba_config/auto_update_plugins
IntelliJ/IntelliJIdea2019.3/jba_config/code.style.schemes.xml
IntelliJ/IntelliJIdea2019.3/jba_config/ide.general.xml
IntelliJ/IntelliJIdea2019.3/jba_config/laf.xml
IntelliJ/IntelliJIdea2019.3/jba_config/status.info
IntelliJ/IntelliJIdea2019.3/jba_config/version
IntelliJ/IntelliJIdea2019.3/jba_config/caches/*
IntelliJ/IntelliJIdea2019.3/jdbc-drivers/*
IntelliJ/IntelliJIdea2019.3/lombok-plugin/*
IntelliJ/IntelliJIdea2019.3/options/jdk.table.xml
IntelliJ/IntelliJIdea2019.3/options/lombok-plugin.xml
IntelliJ/IntelliJIdea2019.3/options/markdown.xml
IntelliJ/IntelliJIdea2019.3/options/recentProjects.xml
IntelliJ/IntelliJIdea2019.3/options/textmate_os.xml
IntelliJ/IntelliJIdea2019.3/options/updates.xml
IntelliJ/IntelliJIdea2019.3/options/usage.statistics.xml
IntelliJ/IntelliJIdea2019.3/options/window.state.xml
IntelliJ/IntelliJIdea2019.3/ReSharperKeymap/*
IntelliJ/IntelliJIdea2019.3/tasks/*
IntelliJ/IntelliJIdea2019.3/terminal/history/*
IntelliJ/IntelliJIdea2019.3/UUID Generator/*
IntelliJ/IntelliJIdea2019.3/workspace/*
Shell/.zsh_history
Shell/.dotfiles/*
Shell/.oh-my-zsh/custom/example.zsh
Shell/.oh-my-zsh/custom/toast-custom.zsh
Shell/.oh-my-zsh/custom/plugins/*
Shell/.oh-my-zsh/custom/themes/*.zsh-theme
SSH/.ssh/*
code.style.schemes.xml
databaseDrivers.xml
